.header{
    min-height: 300px;
    background-color: goldenrod;
}
.main{
    min-height: 800px;
    display: flex;
}
.left-content{
    min-height: 50%;
    width: 800px;
}
.left1{
    min-height: 75%;

}
.left2{
    min-height: 25%;

}
.right-content{
    min-height: 800px;
    


}